@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 600px;
  height: 60px;
}

#search-input {
  flex: 1;
  border-radius: 16px;
  border: none;
  margin-right: 16px;
  font-size: 24px;
  font-weight: 400;
  padding-left: 16px;
  letter-spacing: 4px;
}

#search-btn {
  border-radius: 16px;
  width: 100px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(124, 111, 94);
  letter-spacing: 4px;
}

.recipes-list {
  display: flex;
  align-items: center;
  margin-top: 60px;
  max-width: 1110px;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 60px;
}
.recipe-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  min-height: 200px;
  color: white;
  background-color: rgb(124, 111, 94);
  border-radius: 16px;
  overflow: hidden;
}

.recipe-box:hover .view-btn {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.recipe-box img {
  width: 100%;
}

.recipe-box p {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.view-btn {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: lightgreen;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn i {
  font-size: 30px;
}

.left-part {
  flex: 1;
}

.left-part img {
  width: 100%;
  height: 100%;
}

.right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
}

.right-part__header {
  margin-top: 30px;
}

.right-part__instructions {
  margin-top: 30px;
  width: 80%;
  text-align: justify;
}

.ingredients-measurements-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
  background-color: antiquewhite;
}

.ingredients-measurements-container ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  list-style: none;
}

.ingredients-measurements-container ul li {
  line-height: 30px;
}

.watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(124, 111, 94);
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
}
